.heroSection {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dfdfdf; /* Темный фон */
}

.heroContent {
    max-width: 50%;
    padding: 30px   ;
    margin-top: 30px;
}

.afterHeroTittle {
    display: flex;
    justify-content: space-between;
}

.heroAfterEl {
    width: 85px;
    height: 85px;
    margin-right: 100px;
    margin-top: 100px;
}

.heroTitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-size: 64px;
    margin: 0;
    line-height: 1.25;
    width: 500px;
    color: #4e4e4e; /* Лунный серебристый */
}


.heroDescription {
    display: block;
    font-family: "Poppins";
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 438px;
    color: #919191; /* Светло-серый текст */
}

.btn {
    width: 390px;
}

.getStartedBtn {
    width: 420px;
    font-family: 'Poppins';
    height: 105px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    line-height: 1.5;
    background-color: #4A6FA5;
    color: #fdfdfd;
    border: 1px solid #fdfdfd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.getStartedBtn:hover {
    background-color: #1E90FF;
}

.heroImage img {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 40px;
}