.priceSection {
    width: 1400px;
    margin: auto;
    margin-top: 100px;
}

.priceSection ul {
    margin-top: 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.priceSection li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceImg {
    width: 320px;
    height: 320px;
}

.priceSection h2 {
    font-family: 'Poppins';
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: bold;
}

.priceSection h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    width: 375px;
    font-size: 30px;
    line-height: 1.6;
    color: #dfdfdf;
}

.priceSection p {
    text-align: start;
    font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #ffffff;
        margin: 0px;
        margin-bottom: 20px;
}

.priceDesc{
    width: 370px;
}

.priceCost {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    background-color: #192c47;
    border-radius: 5px;
}

.value {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    font-family: "Poppins";    
}
