.contactsSection {
    display: flex;  
    justify-content: space-between;
    width: 1400px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.contactsSection img {
    width: 406px;
    height: 396px;
}


.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    align-items: start;
    width: 800px;
}

.contactForm h3 {
    font-family: 'Poppins';
    color: #4e4e4e;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.contactForm p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    max-width: 569px;
    margin-bottom: 55px;
    color: #505050;
    margin: 0px;
}

.contactForm input {
    width: 445px;
    background-color: #bebebe;
    outline: none;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 10px;
    padding: 30px 50px;
    font-family: "Poppins", sans-serif;
} 

.contactForm input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 2.2;
    color: rgb(255, 255, 255);
}

.contactForm button {
    font-size: 14px;
    padding: 32px 50px;
    background-color: #4A6FA5;
    margin-left: 5px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}



.subscribe{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contactForm button:hover {
    background-color: #0056b3;
}